<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="OfficeDayDurationInSeconds" value="27000"/>
    <!--<add key="OfficeDayDurationInSeconds" value="200"/>-->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>